@import "../../../assets/css/mixins.styl"

#mask
  background-color white
  width 100%
  height 606px
  margin-top 20px
  color #333
  .header
    padding-top 15px
    height 100px
    width 100%
    text-align center
    font-size 32px
    line-height 100px
    margin-bottom 10px
    >i
      font-size 35px
      color #959595
  .blurb
    width 100%
    height 486px
    .blurb_ul
      margin-left 10px
      margin-bottom -18px
      .blurb_li
        position relative
        width 355px
        height 236px
        float left
        background-color #f4f4f4
        display flex
        margin  5px
        flex-direction column
        >img
          position absolute
          top: 0
          left 0
          width 100%
          height 100%
        .blurb_li_text
          font-size 28px
          display flex
          flex-direction column
          .text1
            margin-top 20px
            margin-left 20px
          .upNew
            border 0.5px solid #dd8500
            width 46px
            color #dd8500
            font-size 23px
            padding 3px 5px