#pastTen
  width 100%
  padding-top 20px
  background white
  margin-top 20px
  .pt_header
    box-sizing border-box
    width 100%
    height 120px
    padding 0 30px
    font-size 32px
    text-align center
    line-height 120px
  .pt_warp
    width 100%
    .pt_con
      width 578px
      height 441px
      display flex
      padding-left 30px
      .pt_con_text
        box-sizing border-box
        width 578px
        height 100%
        padding 38px 40px 79px
        background url("../../../assets/images/topic/pastteb.png") no-repeat 100%
        text-align center
        display flex
        flex-direction column
        margin-right 30px
        .ptc_header
          width 100%
          color #7f7f7f
          font-size 24px
          text-align center
          margin-top 20px
        .ptc_text1
          width 100%
          font-weight 700
          font-size 36px
          text-align center
          margin-top 50px
        .ptc_text2
          width 100%
          font-size 28px
          text-align center
          margin-top 30px
        .ptc_person
          margin-top 80px
          text-align center
          .ptc_inner
            display inline-block
            >div
              float left
            .ptcp_img
              width 48px
              height 48px
              >img
                width 100%
                height 100%
                border-radius 50%
            .ptcp_text
              height 48px
              line-height 48px
              margin-left 15px
              color #7f7f7f


      .pt_end
        box-sizing border-box
        width 578px
        height 441px
        margin-left 30px
        float left
        background url("../../../assets/images/topic/pastteb.png") no-repeat 100%
        font-size 32px
        color #7f7f7f
        text-align center
        line-height 441px
        .iconfont
          font-size 32px