#person
  width 100%
  background white
  height 1330px
  .ps_header
    position fixed
    top 0
    left 0
    z-index 10
    width 100%
    height 88px
    background #FAFAFA
    text-align center
    line-height 88px
    .iconfont
      font-size 50px
      color #474747
    >span
      font-size 38px
      font-family "宋体"
      font-weight bold
    .topicd
      display inline-block
    .topic_header1
      width 19%
      .icon1
        margin-right 40px
    .topic_header2
      width 60%
    .topic_header3
      width 19%
      .icon3
        margin-left 15px
        margin-right 30px
  .ps_contentOne
    width 100%
    height 1246px
    background #F2F5F4
    text-align center
    position relative
    padding-top 88px
    .psc1_title
      display inline-block
      width 236px
      height 90px
      padding 160px 0
      >img
        width 100%
        height 100%
    .psc1_login
      width 100%
      display flex
      flex-direction column
      align-items center
      .psc1l_phone
        background #b4282d
        margin-bottom 30px
        color white
      .psc1l_mail
        color #b4282d
      >div
        width 670px
        height 94px
        border 1px solid #b4282d
        text-align center
        line-height 94px
        font-size 28px
        .iconfont
          font-size 40px
          vertical-align middle



    .psc1_register
      width 100%
      text-align center
      margin-top 40px
      font-size 28px
      .iconfont
        font-size 35px
        vertical-align middle
    .psc1_other
      width 100%
      height 40px
      font-size 28px
      color #7F7F7F
      display flex
      justify-content center
      position absolute
      bottom 80px
      left 0
      >div
        width 180px
        height 100%
        line-height 40px
        text-align center
        border-left 1px solid #7F7F7F
        .iconfont
          font-size 30px
          vertical-align middle
      .psc1_wx
        border-left 0 solid #7F7F7F
  .ps_contentTwo
    width 100%
    box-sizing border-box
    padding 88px 30px 0
    .psc2_img
      width 100%
      text-align center
      padding 50px 0
      >img
        width 192px
        height 64px

    .psc2_verify
      width 100%
      height 270px
      overflow hidden
      margin-top 70px
      .psc2_vpw
        width 100%
        height 90px
        border-bottom 1px solid #dedede
        line-height 90px
        text-indent 20px
        margin-top 40px
        position relative
        .psc2_getVerify
          padding 0 15px 0 0
          border 1px solid black
          position absolute
          top 0
          right 0
          text-align center
          line-height 60px
          border-radius 15px
          font-size 28px
        >input
          width 590px
          height 43px
          &::-webkit-input-placeholder
            font-size 28px
    .psc2_quest
      width 100%
      display flex
      justify-content space-between
      font-size 28px
      margin-top 40px
      .psc2_q1
        color #7d7d7d
    .psc2_btn
      width 100%
      margin-top 50px
      >div
        width 100%
        height 90px
        border 1px solid #b4282d
        border-radius 10px
        text-align center
        line-height 90px
        font-size 28px
      .psc2_btn1
        background #b4282d
        color white
        margin-bottom 30px
      .psc2_btn2
        color #b4282d


    .psc2_reg
      width 100%
      text-align center
      margin-top 40px
      font-size 28px
      .iconfont
        font-size 40px
        vertical-align middle
  .ps_contentThree
    width 100%
    box-sizing border-box
    padding 88px 30px 0
    .psc2_img
      width 100%
      text-align center
      padding 50px 0
      >img
        width 192px
        height 64px

    .psc2_verify
      width 100%
      height 270px
      overflow hidden
      margin-top 70px
      .psc2_vpw
        width 100%
        height 90px
        border-bottom 1px solid #dedede
        line-height 90px
        text-indent 20px
        margin-top 40px
        position relative
        >input
          width 590px
          height 43px
          &::-webkit-input-placeholder
            font-size 28px
    .psc2_quest
      width 100%
      display flex
      justify-content space-between
      font-size 28px
      margin-top 40px
      color #7d7d7d
    .psc2_btn
      width 100%
      margin-top 50px
      >div
        width 100%
        height 90px
        border 1px solid #b4282d
        border-radius 10px
        text-align center
        line-height 90px
        font-size 28px
      .psc2_btn1
        background #b4282d
        color white
        margin-bottom 30px
      .psc2_btn2
        color #b4282d



  .ps_contentFour
    width 100%
    box-sizing border-box
    padding 88px 30px 0
    .psc2_img
      width 100%
      text-align center
      padding 50px 0
      font-size 35px
    .psc2_verify
      width 100%
      height 395px
      overflow hidden
      margin-top 70px
      .psc2_vpw
        width 100%
        height 90px
        border-bottom 1px solid #dedede
        line-height 90px
        text-indent 20px
        margin-top 40px
        position relative
        .psc2_getVerify
          padding 0 15px 0 0
          border 1px solid black
          position absolute
          top 0
          right 0
          text-align center
          line-height 60px
          border-radius 15px
          font-size 28px
        >input
          width 590px
          height 43px
          &::-webkit-input-placeholder
            font-size 28px
    .psc2_btn
      width 100%
      margin-top 50px
      >div
        width 100%
        height 90px
        border 1px solid #b4282d
        border-radius 10px
        text-align center
        line-height 90px
        font-size 28px
      .psc2_btn1
        background #b4282d
        color white
        margin-bottom 30px


    .psc2_rul
      color #7f7f7f
      >span
        color #007AFF
    .psc2_reg
      width 100%
      text-align center
      margin-top 40px
      font-size 28px
      .iconfont
        font-size 40px
        vertical-align middle